/* Existing styles */
.custom-content {
  background-color: #F8EBD8;
  padding: 16px;
}

.container {
  /* padding-top: 20px; */
  padding: 15px;
  /* margin-bottom: 90px; */
  max-width: 1200px;
  margin: 0 auto;
}

.header-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-family: 'Amiri', serif;
}

.header-info p {
  margin: 0;
  color: #8E2927;
}

.table-header {
  background-color: #8E2927;
  color: #fff;
  font-weight: 400;
  border: 1px solid #8E2927;
  font-size: 1.3em;
  border-radius: 8px 8px 0 0;
  height: 60px;
  align-items: center;
  display: flex;
  font-family: 'Amiri', serif;
}

.table-row {
  background-color: #F8EBD8;
  border: 1px solid #8E2927;
  font-size: 21px;
  align-items: center;
  display: flex;
  height: 60px;
  font-family: 'Amiri', serif;
  font-weight: 700;
  color: #8E2927;
}

.second-table .table-header {
  height: 50px;
}

.second-table .table-row {
  height: 50px;
}

.first-table {
  width: 100%;
}

.second-table {
  width: 80%;
  margin: 0 auto;
}

.table-row:nth-child(even) {
  background-color: #F8EBD8;
}

.ion-text-end {
  text-align: right;
}

.purchase-header {
  
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  font-family: 'Amiri', serif;
  color: #8E2927;
}

.table-header, .table-row {
  border: 1px solid #8E2927;
}

.table-row {
  border-top: none;
}

.table-row:first-child {
  border-top: 1px solid #8E2927;
}

.table-header ion-col, .table-row ion-col {
  border-left: 1px solid #8E2927;
  /* border-right: 1px solid #8E2927; */
}

.table-header ion-col:first-child, .table-row ion-col:first-child {
  border-left: none;
}

.table-header ion-col:last-child, .table-row ion-col:last-child {
  border-right: none;
}

.jewellery-heading {
  text-align: center;
  font-size: 54px ;
  color: #8E2927;
  margin-bottom: 20px;
  font-weight: 400 !important;
  font-family: 'Amiri', serif;
}

.coins-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0 0 0;
  
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

.coin {
  margin: 0 40px;
  padding: 20px;
  border-radius: 32px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coin img {
  width: 157px;
  height: 157px;
  border-radius: 20px;
}

.coin p {
  margin-top: 10px;
  font-family: 'Amiri', serif;
  font-size: 27px;
}

.contact-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  padding-top: 20px;
}

.contact {
  text-align: center;
  margin: 0 40px;
  font-size: 27px;
  font-family: 'Amiri', serif;
  font-weight: 700;
  color: #8E2927;
}

.contact ion-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.gold {
  background-image: url('/assets/coins-bg.png');
}

.silver {
  background-image: url('/assets/coins-bg.png');
}

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.coin-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.sip-header {
  margin: 20px 0;
  font-size: 29px;
  font-weight: 400;
  text-align: center;
  color: #8E2927;
  font-family: 'Amiri', serif;
}
.qr-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  border-top: 1px solid #A5590F;

}

.qr-image {
  padding: 20px;
  width: 250px;
  height: 250px;

  
}

.qr-text {
  font-size: 50px;
  font-weight: bold;
  color: #8E2927;
  text-align: center;
}

/* New styles for mobile responsiveness and table scrolling */
@media (max-width: 767px) {
  /* .header-info {
    flex-direction: column;
    gap: 8px;
  } */

  .table-container {
    overflow-x: auto;
    width: 100%;
  }

  .table {
    display: table;
    width: auto;
    min-width: 100%;
    border-collapse: collapse;
  }

  .table-header ion-col, .table-row ion-col {
    width: 100%; 
    min-width: 100%; 
  }

  .coins-section {
    
    
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .coin-container {
    cursor: pointer;

  }
  .coin-container:hover {
    transform: scale(1);
    transition: transform 0.3s;
  }

  .coin img {
    width: 90px !important;
    height: 90px;
    max-width: 90px !important;
  }
  .contact-section {
    
    margin-top: 0;
    padding-top: 0;
  }
  .sip-header {
    font-size: 24px;
  }
  .contact {
    margin-bottom: 16px;
    font-size: 19px;
  }
  .coin {
    margin: 0;
    
  }
  .purchase-header {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
  }
  .qr-section {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }

  .qr-image {
    width: 150px; /* Adjust width for mobile */
    height: 150px; /* Adjust height for mobile */
  }

  .qr-text {
    padding: 10px 0; /* Add padding for better spacing */
    font-size: 30px; /* Adjust font size for mobile */
  }
}





@media (max-width: 767px) {
  .header-info {
    padding: 0;
    text-align: center;
    font-size: 20px;
    justify-content: space-between;
    
  }
  .header-info p {
    margin: 0;
    color: #B87115 !important;
    font-weight: 600;
  }
  .purchase-header {
    color: #B87115 !important;
    font-weight: 600;
    font-size: 20px;
  }

  .card {
    width: calc(100% - 20px);
  }
  .jewellery-heading {
    font-size: 30px;
    margin: 0;
  }
  .custom-card {
    background: transparent;
    --ion-background-color: transparent;
    border: 1.42px solid #B87115;
    border-radius: 12px;
    margin-bottom: 16px;  /* Adding margin for better spacing */
    width: calc(100% - 20px);
  }
  
  .custom-content {
    display: flex;
    flex-direction: column;
  }
  
  .price-row {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;  /* Adding some vertical margin between rows */
  }
  
  .price-row span {
    font-size: 16px;  /* Adjust font size as needed */
    color: #B87115;
    line-height: 18px;  /* Adjust color as needed */
  }
  
}


